<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @get_connected_and_let_know.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @get_connected_and_let_know.body %>
</p>

<%= link_to 'Edit', edit_get_connected_and_let_know_path(@get_connected_and_let_know) %> |
<%= link_to 'Back', get_connected_and_let_knows_path %>
