<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @how_is_best_app.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @how_is_best_app.body %>
</p>

<%= link_to 'Edit', edit_how_is_best_app_path(@how_is_best_app) %> |
<%= link_to 'Back', how_is_best_apps_path %>
