<%= render 'header' %>

<!-- Container -->
<div id="container">
  <div class="shell">
    
    <!-- Small Nav -->

    <!-- End Small Nav -->
    
    <!-- Message OK -->   
    <div class="msg msg-ok">
      <p><strong>Your file was uploaded succesifully!</strong></p>
      <a href="#" class="close">close</a>
    </div>
    <!-- End Message OK -->   
    
    <!-- Message Error -->
    <div class="msg msg-error">
      <p><strong>You must select a file to upload first!</strong></p>
      <a href="#" class="close">close</a>
    </div>
    <!-- End Message Error -->
    <br />
    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>
      
      <!-- Content -->
      <div id="content">
        


<!-- Box -->
<div class="box">
  <div class="box-head">
    <h2>Messages</h2>
  </div>

<table class="gridtable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Message</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr id="<%= contact.id %>">
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.body %></td>
        <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
<!-- End Box -->


      </div>
      <!-- End Content -->
      
      <!-- Sidebar -->
      <div id="sidebar">
        
        <!-- Box -->
        <div class="box">
          
          <!-- Box Head -->
          <div class="box-head">
            <h2>Management</h2>
          </div>
          <!-- End Box Head-->
          
          <div class="box-content">
            <a href="#" class="add-button"><span>Add new Article</span></a>
            <div class="cl">&nbsp;</div>
            
            <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
            <p><a href="#">Delete Selected</a></p>
            
            <!-- Sort -->
            <div class="sort">
              <label>Sort by</label>
              <select class="field">
                <option value="">Title</option>
              </select>
              <select class="field">
                <option value="">Date</option>
              </select>
              <select class="field">
                <option value="">Author</option>
              </select>
            </div>
            <!-- End Sort -->
            
          </div>
        </div>
        <!-- End Box -->
      </div>
      <!-- End Sidebar -->
      
      <div class="cl">&nbsp;</div>      
    </div>
    <!-- Main -->
  </div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
  <div class="shell">
    <span class="left">&copy; <%= Date.today %> - SllSolutions</span>
    <span class="right">
      Design by Md. Nurul Amin Shuvo
    </span>
  </div>
</div>
<!-- End Footer -->