<%= render 'header' %>

<!-- Container -->
<div id="container">
  <div class="shell">
<!-- Place for rendering error Messages -->
    <br />
    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>
      
      <!-- Content -->
      <div id="content">
        

        
        <!-- Box -->
        <div class="box">
          <!-- Box Head -->
          <div class="box-head">
            <h2>Partner</h2>
          </div>
          <!-- End Box Head -->
          
          <%= form_for(@partner, html: {multipart: true }) do |f| %>

              <% if @partner.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this sms_service from being saved:</h2>

                    <ul>
                    <% @partner.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
              <% end %>

            <!-- Form -->
            <div class="form">
                <p>
                  <label>Title <span>(Required Field)</span></label>
                  <%= f.text_field :title, class: "field size1" %>
                </p>

                <p>
                  <label>Category <span>(Required Field)</span></label>
                  <%= f.select :category, Partner::CATEGORIES ,class: "field size1", selected: "Other" %>
                </p>


                <p>
                  <label>Image for Big Slider(160x150) <span>(Required Field)</span></label>
                  <%= f.file_field :image, class: "field size1" %>
                </p>
              
            </div>
            <!-- End Form -->
            
            <!-- Form Buttons -->
            <div class="buttons">
              <%= f.submit "Submit", class: "button" %>
            </div>
            <!-- End Form Buttons -->
          <% end %>

        </div>
        <!-- End Box -->


        <!-- Box -->
<div class="box">
  <div class="box-head">
    <h2>Partners</h2>
  </div>

<table class="gridtable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Category</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.title %></td>
        <td><%= image_tag(partner.image_url.to_s, height: '100') %></td>
        <td><%= partner.category %></td>

        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



</div>
<!-- End Box -->




      </div>
      <!-- End Content -->
      
<!-- Place for rendering sidebar -->
      
      <div class="cl">&nbsp;</div>      
    </div>
    <!-- Main -->
  </div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
  <div class="shell">
    <span class="left">&copy; <%= Date.today.year %> - SllSolutions</span>
    <span class="right">
      Design by Md. Nurul Amin Shuvo
    </span>
  </div>
</div>
<!-- End Footer -->