<%= render 'header' %>

<!-- Container -->
<div id="container">
  <div class="shell">
<!-- Place for rendering error Messages -->
    <br />
    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>
      
      <!-- Content -->
      <div id="content">
        

        
        <!-- Box -->
        <div class="box">
          <!-- Box Head -->
          <div class="box-head">
            <h2>SMS Based Service</h2>
          </div>
          <!-- End Box Head -->
          
          <%= form_for(@sms_based) do |f| %>

              <% if @sms_based.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@sms_based.errors.count, "error") %> prohibited this sms_service from being saved:</h2>

                    <ul>
                    <% @sms_based.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
              <% end %>

            <!-- Form -->
            <div class="form">
                <p>
                  <span class="req">max 100 symbols</span>
                  <label>Content <span>(Required Field)</span></label>
                  <div data-no-turbolink="true">
                    <%= f.text_area :body, class: "field size1 ckeditor", rows: 10, cols: 10 %>
                  </div>
                </p>
              
            </div>
            <!-- End Form -->
            
            <!-- Form Buttons -->
            <div class="buttons">
              <%= f.submit "Submit", class: "button" %>
            </div>
            <!-- End Form Buttons -->
          <% end %>

        </div>
        <!-- End Box -->


<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>IVR Based Service</h2>
  </div>
  <!-- End Box Head -->
  
  <%= form_for(@ivr_based) do |f| %>

      <% if @ivr_based.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ivr_based.errors.count, "error") %> prohibited this sms_service from being saved:</h2>

            <ul>
            <% @ivr_based.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <!-- Form -->
    <div class="form">
        <p>
          <span class="req">max 100 symbols</span>
          <label>Content <span>(Required Field)</span></label>
          <div data-no-turbolink="true">
            <%= f.text_area :body, class: "field size1 ckeditor", rows: 10, cols: 10 %>
          </div>
        </p>
      
    </div>
    <!-- End Form -->
    
    <!-- Form Buttons -->
    <div class="buttons">
      <%= f.submit "Submit", class: "button" %>
    </div>
    <!-- End Form Buttons -->
  <% end %>

</div>
<!-- End Box -->



<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>WAP Based Service</h2>
  </div>
  <!-- End Box Head -->
  
  <%= form_for(@wap_based) do |f| %>

      <% if @wap_based.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@wap_based.errors.count, "error") %> prohibited this sms_service from being saved:</h2>

            <ul>
            <% @wap_based.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <!-- Form -->
    <div class="form">
        <p>
          <span class="req">max 100 symbols</span>
          <label>Content <span>(Required Field)</span></label>
          <div data-no-turbolink="true">
            <%= f.text_area :body, class: "field size1 ckeditor", rows: 10, cols: 10 %>
          </div>
        </p>
      
    </div>
    <!-- End Form -->
    
    <!-- Form Buttons -->
    <div class="buttons">
      <%= f.submit "Submit", class: "button" %>
    </div>
    <!-- End Form Buttons -->
  <% end %>

</div>
<!-- End Box -->


      </div>
      <!-- End Content -->
      
<!-- Place for rendering sidebar -->
      
      <div class="cl">&nbsp;</div>      
    </div>
    <!-- Main -->
  </div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
  <div class="shell">
    <span class="left">&copy; <%= Date.today %> - SllSolutions</span>
    <span class="right">
      Design by Md. Nurul Amin Shuvo
    </span>
  </div>
</div>
<!-- End Footer -->