<%= form_for(@sms_based) do |f| %>
  <% if @sms_based.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sms_based.errors.count, "error") %> prohibited this sms_based from being saved:</h2>

      <ul>
      <% @sms_based.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
