<%= form_for(@our_growth) do |f| %>
  <% if @our_growth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@our_growth.errors.count, "error") %> prohibited this our_growth from being saved:</h2>

      <ul>
      <% @our_growth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
