<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @our_growth.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @our_growth.body %>
</p>

<%= link_to 'Edit', edit_our_growth_path(@our_growth) %> |
<%= link_to 'Back', our_growths_path %>
