
  <div class="wrapper">
      <div class="inner-wrapper">
      <!-- Header div Starts here -->
      <header id="header">
          <div class="container">
              <div id="logo">
                  <a href="<%= root_path %>"> <img src="<%= asset_path('SLL.png') %>" alt="SLL Solutions" title="SLL Solutions" /></a>
                </div>
                <div id="menu-container">
                    <nav id="main-menu">
                        <ul class="group">
                            <li class="menu-item current_page_item"><a href="#home">Home</a></li>
                            <li class="menu-item"><a href="#services">Services</a></li>
                            <li class="menu-item"><a href="#features">Android App</a></li>
                            <li class="menu-item"><a href="#about">About</a></li>
                            <li class="menu-item"><a href="#screenshot">Our Partners</a></li>
                            <li class="menu-item"><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
        </div>                    
            </div>
        </header>
        <!-- Header div Ends here -->
        <div id="main">
          <!-- home section Starts here -->
          <section id="home" class="content">
                <div class="fullwidthbanner-container banner">
                    <div class="fullwidthbanner">           
                        <ul>
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-delay="10000">
                                <img src="<%= asset_path('revolution/slider-bg.jpg')%>" alt="slider-bg" data-fullwidthcentering="on" />
                                <div class="tp-caption lfl" data-x="-6" data-y="67" data-speed="1000" data-start="500" data-easing="easeOutExpo"> <img src="<%= asset_path('revolution/graph.png')%>" alt="Image 1" />                    
                                </div>
                            
                                <div class="tp-caption lfb" data-x="67" data-y="410" data-speed="1000" data-start="1500" data-easing="easeOutExpo"><a href="#"><img src="<%= asset_path('revolution/googlepay.png')%>" alt="Image 2" /></a>                     
                                </div>
                            
                                <div class="tp-caption lfb" data-x="285" data-y="410" data-speed="1000" data-start="2000" data-easing="easeOutExpo"><a href="#"><img src="<%= asset_path('revolution/appstore.png')%>" alt="Image 3" /></a>                     
                                </div>
                            
                                <div class="tp-caption custom_title lft" data-x="560" data-y="58" data-speed="1000" data-start="2500" data-easing="easeOutExpo">Some good words about our <br />
                                    Application                    
                                </div>
                            
                                <div class="tp-caption custom_subtitle sft" data-x="560" data-y="182" data-speed="1000" data-start="3000" data-easing="easeOutExpo">“A Complete Package”                     
                                </div>
                            
                                <div class="tp-caption sfl" data-x="560" data-y="215" data-speed="1000" data-start="3500" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/star1.png')%>" alt="Image 6" />                    
                                </div>
                            
                                <div class="tp-caption custom_reviewtext sfr" data-x="673" data-y="216" data-speed="1000" data-start="3500" data-easing="easeOutExpo">- Sadia, Mirpur, Dhaka                     
                                </div>
                            
                                <div class="tp-caption fade" data-x="560" data-y="242" data-speed="1000" data-start="4000" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/reviews-splitter.jpg')%>" alt="Image 9" />                    
                                </div>
                            
                                <div class="tp-caption custom_subtitle sft" data-x="560" data-y="278" data-speed="1000" data-start="4500" data-easing="easeOutExpo">“A Perfect Mobile Companion”                     
                                </div>
                            
                                <div class="tp-caption sfl" data-x="560" data-y="311" data-speed="1000" data-start="5000" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/star2.png')%>" alt="Image 6" />                    
                                </div>
                            
                                <div class="tp-caption custom_reviewtext sfr" data-x="673" data-y="312" data-speed="1000" data-start="5000" data-easing="easeOutExpo"> - Samiul Hasan, Dinajpur.                   
                                </div>
                            
                                <div class="tp-caption fade" data-x="560" data-y="338" data-speed="1000" data-start="5500" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/reviews-splitter.jpg')%>" alt="Image 9" />                    
                                </div>
                            
                                <div class="tp-caption custom_subtitle sft" data-x="560" data-y="374" data-speed="1000" data-start="6000" data-easing="easeOutExpo">“you will have more feature <br /> than any other app”                     
                                </div>
                                
                                <div class="tp-caption sfl" data-x="560" data-y="438" data-speed="1000" data-start="6500" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/star3.png')%>" alt="Image 6" />                    
                                </div>
                                
                                <div class="tp-caption custom_reviewtext sfr" data-x="673" data-y="439" data-speed="1000" data-start="6500" data-easing="easeOutExpo">- Nurul Amin, Mymensingh                 
                                </div>                           
                            </li>
                            
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                                <img src="<%= asset_path('revolution/slider-bg.jpg')%>" alt="slider-bg" />
                                <div class="tp-caption lfr" data-x="360" data-y="105" data-speed="1000" data-start="500" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/righthand-ipad.png')%>" alt="Image 1" />                    
                                </div>
                            
                                <div class="tp-caption lfb" data-x="255" data-y="246" data-speed="1000" data-start="2000" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/left-hand.png')%>" alt="Image 2" />                    
                                </div>
                            
                                <div class="tp-caption custom_title2 lft" data-x="0" data-y="166" data-speed="1000" data-start="1500" data-easing="easeOutExpo">Getting bored?                     
                                </div>
                            
                                <div class="tp-caption custom_content sfl" data-x="0" data-y="224" data-speed="1000" data-start="2500" data-easing="easeOutExpo"> Play games <br />Listen latest songs<br /> Just the way U need <!-- <br /> Or the movie you want. <br />All the features you need is here. -->                     
                                </div>
                            
                                <div class="tp-caption custom_content lfb" data-x="0" data-y="303" data-speed="1000" data-start="3500" data-easing="easeOutExpo"><a class="button small" href="#">Download Now <span class="icon-caret-right"></span></a>                    
                                </div>            
                            </li>
                            
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                                <img src="<%= asset_path('revolution/slider-bg2.jpg')%>" alt="slider-bg2" />
                                <div class="tp-caption lfb" data-x="0" data-y="48" data-speed="1000" data-start="1000" data-easing="easeOutExpo"><img src="<%= asset_path('revolution/man.png')%>" alt="Image 1" />                     
                                </div>
                                
                                <div class="tp-caption custom_title lft" data-x="650" data-y="120" data-speed="1000" data-start="1500" data-easing="easeOutExpo">Features of SLL SOLUTIONS
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="182" data-speed="1000" data-start="2000" data-easing="easeOutExpo">WAP Platform                  
                                </div>
                            
                                <div class="tp-caption fade" data-x="650" data-y="188" data-speed="1000" data-start="2000" data-easing="easeInCubic"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                    
                                </div>
                                
                                <div class="tp-caption fade" data-x="650" data-y="228" data-speed="1000" data-start="2500" data-easing="easeInQuad"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                     
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="222" data-speed="1000" data-start="2500" data-easing="easeOutExpo">SMS Platform                    
                                </div>
                                
                                <div class="tp-caption fade" data-x="650" data-y="268" data-speed="1000" data-start="2800" data-easing="easeInQuad"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                     
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="262" data-speed="1000" data-start="3100" data-easing="easeOutExpo">Tons of Collection                    
                                </div>
                                
                                <div class="tp-caption fade" data-x="650" data-y="308" data-speed="1000" data-start="3400" data-easing="easeInQuad"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                     
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="302" data-speed="1000" data-start="3700" data-easing="easeOutExpo">IVR Platform                    
                                </div>
                                
                                <div class="tp-caption fade" data-x="650" data-y="348" data-speed="1000" data-start="4000" data-easing="easeInQuad"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                     
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="342" data-speed="1000" data-start="4300" data-easing="easeOutExpo">Gaming Collection                     
                                </div>
                                
                                <div class="tp-caption fade" data-x="650" data-y="388" data-speed="1000" data-start="4600" data-easing="easeInQuad"><img src="<%= asset_path('revolution/tick.png')%>" alt="Image 4" />                     
                                </div>
                                
                                <div class="tp-caption custom_contenttext sfr" data-x="677" data-y="382" data-speed="1000" data-start="4900" data-easing="easeOutExpo">Mobile Theater 
                                    <!-- (Layer & Revolution Slider) -->                     
                                </div>
                                
                                <div class="tp-caption sft" data-x="430" data-y="58" data-speed="300" data-start="1300" data-easing="easeInOutBounce"><img src="<%= asset_path('revolution/bulb.png')%>" alt="Image 15" />                    
                                </div>
                            
                            </li>
                        </ul>
                    
                    </div>
                
                </div>  
                <div class="shadow"></div>
                <div class="container">
                   

                    <div class="one-third column no-space">
                            <div class="service">
                                <i class="icon-mobile-phone animate" data-animation="rollIn" data-delay="100"></i>
                                <div class="margin20"></div>
                                <h4>SMS Service</h4>
                                <p><%= raw @sms_service %></p>
                            </div>
                        </div>
                        <div class="one-third column no-space">
                            <div class="service">
                                <i class="icon-music special animate" data-animation="rollIn" data-delay="300"></i>
                                <div class="margin20"></div>
                                <h4>IVR Service</h4>
                                <p><%= raw @ivr_service %></p>
                            </div>
                        </div>
                        <div class="one-third column no-space">
                            <div class="service">
                                <i class="icon-coffee special animate" data-animation="rollIn" data-delay="500"></i>
                                <div class="margin20"></div>
                                <h4>WAP Service</h4>
                                <p><%= raw @wap_service %></p>
                            </div>
                        </div>
                </div>
            </section>
            <!-- home section Ends here -->
            <!-- services section Starts here -->
            <section id="services" class="content">
              <div class="main-title">
                  <div class="container">
                      <h2>Services</h2>
                    </div>
                </div>
                <div class="content-main">
                    <div class="container">
                        
                        <div class="margin50"></div>
                        <h2 class="border-title">What do we provide?<span></span></h2>
                        <div class="margin15"></div>
                        <div class="tabs-vertical-container">
                            <ul class="tabs-vertical-frame one-third column">
                                <li><a href="#"> <span> 1</span>SMS Based Services</a></li>
                                <li><a href="#"> <span> 2</span> IVR Services </a></li>
                                <li><a href="#"> <span> 3</span> Wap Services </a></li>
                            </ul>
                            <div class="tabs-vertical-frame-content two-third column last">
                                <h3> SMS Based Services </h3>
                                <p><%= raw @sms_based %></p>
                            </div>
                            <div class="tabs-vertical-frame-content two-third column last">
                                <h3> IVR Based Services </h3>
                                <p><%= raw @ivr_based %></p>
                            </div>
                            <div class="tabs-vertical-frame-content two-third column last">
                                <h3> WAP Based Services </h3>
                                <p><%= raw @wap_based %></p>
                            </div>
                        </div>
                        <div class="margin30"></div>
                        <h2 class="border-title">Testimonials<span></span></h2>
                        <div class="margin25"></div>
                        <div class="testimonial-wrapper">
                          <ul class="quotes_wrapper">
                            <% @testimonials.each do |t| %>
                                <li>
                                    <figure class="testimonial-thumb animate" data-animation="fadeInUp">
                                        <span class="item-mask"> </span>
                                        <img class="thumb-image" src="<%= t.image_url.to_s %>" alt="" title="" width="180" height="206" />
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <div class="author-meta">
                                            <p><%= t.who_said %></p>
                                            <span><%= t.about %></span>
                                        </div>
                                        <blockquote><%= t.body %></blockquote>
                                    </div>
                                </li>

                                <% end %>


                                <!-- <li>
                                    <figure class="testimonial-thumb alignright animate" data-animation="fadeInUp">
                                        <span class="item-mask"> </span>
                                        <img class="thumb-image" src="<%= asset_path('post-images/author1.jpg')%>" alt="" title="" width="180" height="206" />
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <div class="author-meta">
                                            <p>Amir Hamza</p>
                                            <span>Senior Professor</span>
                                        </div>
                                        <blockquote> It feels good to use SLL Solutions services. All the very best. </blockquote>
                                    </div>
                                </li>
                                <li>
                                    <figure class="testimonial-thumb animate" data-animation="fadeInUp">
                                        <span class="item-mask"> </span>
                                        <img class="thumb-image" src="<%= asset_path('post-images/author2.jpg')%>" alt="" title="" width="180" height="206" />
                                    </figure>
                                    <div class="testimonial-content-wrapper">
                                        <div class="author-meta">
                                            <p>Abdul khayer</p>
                                            <span>Managing Director</span>
                                        </div>
                                        <blockquote> SLL Solutions should be the pioneer for others in the market. Customer services are very good. </blockquote>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
        </div>
            </section>
            <!-- services section Ends here -->
            <!-- features section Starts here -->
            <section id="features" class="content">
              <div class="main-title">
                  <div class="container">
                      <h2>Android app</h2>
                    </div>
                </div>
                <div class="content-main">
                  <div class="container">
                      <div class="one-half column">
                          <img src="<%= asset_path('mobile-view-map.png')%>" alt="mobilemap" title="" class="aligncenter rollImage animate" data-animation="fadeInLeft" />
                        </div>
                        <div class="one-half column last">
                          <div class="custom-services">
                              <span class="icon-one animate" data-animation="bounceIn"></span>
                                <h3>The Distinguished</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                            <div class="margin35"></div>
                            <div class="custom-services">
                              <span class="icon-eight animate" data-animation="bounceIn"></span>
                                <h3> Highly Responsive </h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                            <div class="margin35"></div>
                            <div class="custom-services">
                              <span class="icon-nine animate" data-animation="bounceIn"></span>
                                <h3> Multiple Sliders </h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                        </div>
                        <div class="margin65"></div>
                        <div class="one-half column pull-up">
                          <div class="custom-services">
                              <span class="icon-two animate" data-animation="bounceIn"></span>
                                <h3>cPanel Included</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                            <div class="margin35"></div>
                            <div class="custom-services">
                              <span class="icon-three animate" data-animation="bounceIn"></span>
                                <h3>Latest Software</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                            <div class="margin35"></div>
                            <div class="custom-services">
                              <span class="icon-four animate" data-animation="bounceIn"></span>
                                <h3>Chat Support</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                            </div>
                        </div>
                        <div class="one-half column last">
                          <img src="<%= asset_path('mobile-two.png')%>" alt="mobiletwo" title="" class="aligncenter fadeImage animate" data-animation="fadeInRight" />
                        </div>
                        <div class="margin90"></div>
                        <div class="one-third column">
                          <div class="custom-services">
                              <span class="icon-five animate" data-animation="bounceIn"></span>
                                <h3>Instant Setup</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain.</p>
                            </div>
                        </div>
                        <div class="one-third column">
                          <div class="custom-services">
                              <span class="icon-six animate" data-animation="bounceIn"></span>
                                <h3>Better Backup</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain.</p>
                            </div>
                        </div>
                        <div class="one-third column last">
                          <div class="custom-services">
                              <span class="icon-seven animate" data-animation="bounceIn"></span>
                                <h3>Reliable Speed</h3>
                                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- features section Ends here -->
            
            <!-- about section Starts here -->
            <section id="about" class="content">
              <div class="main-title">
                  <div class="container">
                      <h2>About</h2>
                    </div>
                </div>
                <div class="content-main">
                  <div class="container">
                      <img src="<%= @about.try(:image_url.to_s) %>" alt="about" title="" class="aligncenter aboutImg animate" data-animation="fadeInDown" />
                        <div class="margin30"></div>
                        <div class="one-half column">
                          <h4 class="border-title"><%= @how_is_best_app.try(:title) %><span></span></h4>
                            <p><%= raw @how_is_best_app.try(:body) %></p>
                            <div class="margin60"></div>
                            <img src="<%= asset_path('bar-chart.png')%>" alt="chart" title="" class="chart animate" data-animation="stretchRight" />
                        </div>
                        <div class="one-half column last">
                          <h4 class="border-title"><%= @get_connected.try(:title)%><span></span></h4>
                            <p><%= raw @get_connected.try(:body) %></p>
                            <div class="margin60"></div>


                            <h2 class="border-title"><%= @our_growth.try(:title)%><span></span></h2>
                            <p><%= raw @our_growth.try(:body)%></p>
                            <div class="legend-wrapper">
                              <div class="orange legend">
                                    <div class="legendColorBox">
                                        <div></div>
                                    </div>
                                    <div class="legendLabel">
                                        <span>Production</span>
                                    </div>
                                </div>
                                <div class="blue legend">
                                    <div class="legendColorBox">
                                        <div></div>
                                    </div>
                                    <div class="legendLabel">
                                        <span>Production</span>
                                    </div>
                                </div>
                            </div>
                            <div class="margin75"></div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- about section Ends here -->
            <!-- screenshot section Starts here -->
            <section id="screenshot" class="content">
              <div class="main-title">
                  <div class="container">
                      <h2>Our Partners</h2>
                  </div>
              </div>
                <div class="content-main">
                  <div class="container">
                            <h4>Telecom Partners</h4>
                            <div id="caro1">
                                <% @telecom.each do |t| %>
                                    <img src="<%= t.image_url.to_s %>" alt="TeleCom Partner" />
                                <% end %>
                            </div>
<div class="margin50"></div>
                            <h4>Media Partners</h4>
                            <div id="caro2">
                                <% @media.each do |m| %>
                                    <img src="<%= m.image_url.to_s %>" alt="Media Partner" />
                                <% end %>
                            </div>
<div class="margin50"></div>

                            <h4>Other Partners</h4>
                            <div id="caro3">
                                <% @other.each do |o| %>
                                    <img src="<%= o.image_url.to_s %>" alt="It Support And Other Partner" />
                                <% end %>
                            </div>

                    </div>


                </div>

            </section>
            <!-- screenshot section Ends here -->
            <!-- contact section Starts here -->
            <section id="contact" class="content">
              <div class="main-title">
                  <div class="container">
                      <h2>Contact</h2></div></div>
                        <div class="content-main">
                    <div class="container">
                        <div class="location">
                            <h4 class="map-title">Location Map</h4>
                            
                            <div id="map"> </div>
                            
                            <div class="margin55"></div>
                            <div class="contact-info">
                                <div class="one-half column">
                                    <h4>Location</h4>
                                    <p>940-394 New Eskaton <br />+8801someNO</p>
                                </div>
                                <div class="one-half column last">
                                    <div class="one-half column">
                                        <h4>Customer Support</h4>
                                        <a href="#">support@sllsolution.com</a>
                                    </div>
                                    <div class="one-half column last">
                                        <h4>Customer Support</h4>
                                        <a href="#">support@sllsolution.com</a>
                                    </div>
                                </div>
                                
                                <div class="margin20"> </div>
                                
                                <div id="ajax_contact_msg"></div>


                                <%= form_for(@contact, html:{class: "contact-frm"}, remote: true) do |f| %>

                                    <%= f.text_field :name, required: true, placeholder: "Name" %>
                                    <p class="twocolumn">

                                        <%= f.email_field :email, required: true, placeholder: "Email" %>
                                        <%= f.phone_field :phone, placeholder: "Phone" %>

                                    </p>
                                    <%= f.text_area :body, placeholder: "Message", required: true %>


                                    <%= f.submit "Submit", class: "button" %>
                                <% end %>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact section Ends here -->
            <div class="margin50"></div>
            <footer>
              <div class="container">
                  <div class="support">
                      <figure>
                        </figure>
                        <div class="support-info">
                          <h2>All Day Customer Support</h2>
                            <span class="call">8:00 am to 10:00 pm</span>
                            <p>We Believe it is easy to do business with happy customers. So customer satisfaction is our main priority.</p>
                        </div>
<!--                         <a href="#" class="button medium ico"><i class="icon-comments"></i>Live Chat Support</a> -->
                    </div>
                </div>
                <div class="copyright">
                  <div class="container">
                      <p>&copy; 2013 e-solutionpark | All Rights Reserved</p>
                        <ul class="social-media">
                          <li><a href="#" class="icon-facebook"></a></li>
                            <li><a href="#" class="icon-google-plus"></a></li>
                            <li><a href="#" class="icon-twitter"></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
    </div>
    </div>
</div> <!-- Wrapper End -->
