<h1>Listing ivr_services</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ivr_services.each do |ivr_service| %>
      <tr>
        <td><%= ivr_service.body %></td>
        <td><%= link_to 'Show', ivr_service %></td>
        <td><%= link_to 'Edit', edit_ivr_service_path(ivr_service) %></td>
        <td><%= link_to 'Destroy', ivr_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ivr service', new_ivr_service_path %>
