<%= form_for(@wap_service) do |f| %>
  <% if @wap_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wap_service.errors.count, "error") %> prohibited this wap_service from being saved:</h2>

      <ul>
      <% @wap_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
